<!DOCTYPE html>
<!-- For this, i just copied index.html and threw the iframes into it"-->
<!-- it could probably be nicer -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Page</title>
</head>

<script src="/js/main.bundle.js"></script>
<body id="body">

<div id="app">
</div>
<section class="vidz" style="">
<div style="padding:56.25% 0 0 0;position:relative;"><iframe src=https://vimeo.com/event/2362252/embed frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
<iframe src=https://vimeo.com/event/2362252/chat/ width="100%" height="100%" frameborder="0"></iframe>
</section>
</body>
</html>